bin/
obj/
.vs/
.vscode/
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates
TestResults/
artifacts/
.public-release/
publish/
*.nupkg
*.snupkg
*.log
*.tmp
*.bak
*.cache
*.pdb
*.ilk
*.exe
*.dll
*.deps.json
*.runtimeconfig.json
*.appx
*.msix
*.msixbundle
